In [1]:
import pandas as pd;
import os;

In [2]:
os.chdir("/Users/hannahkaufman/Downloads/Data")
os.getcwd()

'/Users/hannahkaufman/Downloads/Data'

In [11]:
somatic_short = pd.read_csv('somatic_short.maf.gz', sep='\t', compression='gzip')
somatic_short # Read somatic_short data generated from the previous lab session

,symbol,gene_id,chr,start,end,strand,var_class,ref,alt,sample_id,prot.pos,aa
0,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L
1,C8B,732,chr1,56956798,56956798,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,121/591,R/Q
2,ADGRL4,64123,chr1,78921709,78921709,+,Silent,C,T,TCGA-ER-A19O-06A-11D-A197-08,387/690,E
3,ARHGAP29,9411,chr1,94188873,94188873,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,549/1261,E/K
4,LRRC39,127495,chr1,100155171,100155171,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,231/335,R/Q
...,...,...,...,...,...,...,...,...,...,...,...,...
338495,KIAA2022,340533,chrX,74743619,74743619,+,Missense_Mutation,C,T,TCGA-D3-A2JG-06A-11D-A196-08,313/1516,R/Q
338496,NXF3,56000,chrX,103084463,103084463,+,Missense_Mutation,T,C,TCGA-D3-A2JG-06A-11D-A196-08,77/531,K/R
338497,TMEM164,84187,chrX,110004079,110004079,+,Missense_Mutation,C,A,TCGA-D3-A2JG-06A-11D-A196-08,102/297,T/N
338498,IRAK1,3654,chrX,154019308,154019308,+,Missense_Mutation,G,A,TCGA-D3-A2JG-06A-11D-A196-08,109/712,P/S
338499,NLGN4Y,22829,chrY,14840615,14840615,+,Missense_Mutation,G,A,TCGA-D3-A2JG-06A-11D-A196-08,602/816,E/K

In [14]:
# Parse the “prot.pos” column to extract the affected protein position (top number) 
# and the protein length (bottom number). 
#Add the parsed output as two new columns to somatic_short. 
prot_pos_parsed = somatic_short['prot.pos'].str.extract('(\d+)/(\d+)') # Matching patterns in a column
prot_pos_parsed

          0     1
0       287  1673
1       121   591
2       387   690
3       549  1261
4       231   335
...     ...   ...
338495  313  1516
338496   77   531
338497  102   297
338498  109   712
338499  602   816

[338500 rows x 2 columns]

In [52]:
prot_pos_parsed.columns = ['prot_pos', 'prot_len'] # Name extracted substring

In [53]:
prot_pos_parsed = somatic_short['prot.pos'].str.extract('(?P<prot_pos>\d+)/(?P<prot_len>\d+)')

In [55]:
somatic_short = somatic_short.merge(prot_pos_parsed) # Add extracted substrings to a data frame as new columns

In [56]:
somatic_short

,symbol,gene_id,chr,start,end,strand,var_class,ref,alt,sample_id,prot.pos,aa,prot_pos,prot_len
0,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673
1,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673
2,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673
3,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673
4,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-EE-A29E-06A-11D-A197-08,287/1673,S/L,287,1673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686087,AIFM3,150209,chr22,20977036,20977036,+,Missense_Mutation,A,T,TCGA-D3-A2JG-06A-11D-A196-08,408/605,K/M,408,605
686088,FAM47B,170062,chrX,34944490,34944490,+,Silent,C,T,TCGA-D3-A2JG-06A-11D-A196-08,553/645,F,553,645
686089,TMEM164,84187,chrX,110004079,110004079,+,Missense_Mutation,C,A,TCGA-D3-A2JG-06A-11D-A196-08,102/297,T/N,102,297
686090,IRAK1,3654,chrX,154019308,154019308,+,Missense_Mutation,G,A,TCGA-D3-A2JG-06A-11D-A196-08,109/712,P/S,109,712
686091,NLGN4Y,22829,chrY,14840615,14840615,+,Missense_Mutation,G,A,TCGA-D3-A2JG-06A-11D-A196-08,602/816,E/K,602,816

In [57]:
# Parse the “aa” column to extract the reference (top letter)
# and alternative allele (bottom letter). Add the parsed output
# as two new columns to somatic_short
prot_aa_parsed = somatic_short['aa'].str.extract('(\w+)/(\w+)') # Matching patterns in a column

       prot_pos prot_len
0           287     1673
1           121      591
2           387      690
3           549     1261
4           231      335
...         ...      ...
338495      313     1516
338496       77      531
338497      102      297
338498      109      712
338499      602      816

[338500 rows x 2 columns]

In [58]:
prot_aa_parsed

          0    1
0         S    L
1         S    L
2         S    L
3         S    L
4         S    L
...     ...  ...
686087    K    M
686088  NaN  NaN
686089    T    N
686090    P    S
686091    E    K

[686092 rows x 2 columns]

In [60]:
prot_aa_parsed.columns = ['top_letter', 'bottom_letter'] # Name extracted substring

In [61]:
prot_aa_parsed = somatic_short['aa'].str.extract('(?P<top_letter>\w+)/(?P<bottom_letter>\w+)')

In [66]:
somatic_short = somatic_short.join(prot_aa_parsed) # Add extracted substrings to a data frame as new columns

In [67]:
somatic_short

,symbol,gene_id,chr,start,end,strand,var_class,ref,alt,sample_id,prot.pos,aa,prot_pos,prot_len,top_letter,bottom_letter
0,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673,S,L
1,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673,S,L
2,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673,S,L
3,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673,S,L
4,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-EE-A29E-06A-11D-A197-08,287/1673,S/L,287,1673,S,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686087,AIFM3,150209,chr22,20977036,20977036,+,Missense_Mutation,A,T,TCGA-D3-A2JG-06A-11D-A196-08,408/605,K/M,408,605,K,M
686088,FAM47B,170062,chrX,34944490,34944490,+,Silent,C,T,TCGA-D3-A2JG-06A-11D-A196-08,553/645,F,553,645,NaN,NaN
686089,TMEM164,84187,chrX,110004079,110004079,+,Missense_Mutation,C,A,TCGA-D3-A2JG-06A-11D-A196-08,102/297,T/N,102,297,T,N
686090,IRAK1,3654,chrX,154019308,154019308,+,Missense_Mutation,G,A,TCGA-D3-A2JG-06A-11D-A196-08,109/712,P/S,109,712,P,S
686091,NLGN4Y,22829,chrY,14840615,14840615,+,Missense_Mutation,G,A,TCGA-D3-A2JG-06A-11D-A196-08,602/816,E/K,602,816,E,K

In [68]:
clinical_short = pd.read_csv('clinical.short.txt', sep='\t')

In [69]:
clinical_short

,patient,year_of_birth,gender,race,definition,tumor_stage,age_at_diagnosis,vital_status,months_to_death,months_to_last_follow_up
0,TCGA-EE-A2MG,1974.0,male,white,Metastatic,stage i,23.0,dead,104.6,NaN
1,TCGA-EE-A3JD,1939.0,male,white,Metastatic,stage iii,71.0,dead,27.7,NaN
2,TCGA-D3-A5GL,1929.0,male,white,Metastatic,stage ib,74.2,alive,NaN,127.5
3,TCGA-EE-A2MU,1934.0,male,white,Metastatic,stage ia,71.9,alive,NaN,54.0
4,TCGA-D3-A3CF,1948.0,female,white,Metastatic,stage iiic,61.4,dead,24.9,NaN
...,...,...,...,...,...,...,...,...,...,...
466,TCGA-GN-A26D,1936.0,female,white,Metastatic,stage iic,72.6,dead,48.7,40.1
467,TCGA-D3-A8GI,1940.0,male,white,Metastatic,stage ia,68.7,dead,59.3,NaN
468,TCGA-D3-A2JD,1949.0,male,white,Metastatic,stage iiic,58.7,dead,12.0,NaN
469,TCGA-EB-A5UN,1960.0,male,white,Metastatic,stage iic,49.9,alive,NaN,59.7
470,TCGA-EB-A3HV,1974.0,male,white,Primary solid Tumor,stage iic,37.6,alive,NaN,1.3

In [89]:
# Extract patient ID from sample_id (i.e., the first three fields separated by -).
extract = somatic_short['sample_id'].str.extract('(\w+-\w+-\d+)')

In [90]:
extract

                 0
0       ER-A19O-06
1       ER-A19O-06
2       ER-A19O-06
3       ER-A19O-06
4       EE-A29E-06
...            ...
686087  D3-A2JG-06
686088  D3-A2JG-06
686089  D3-A2JG-06
686090  D3-A2JG-06
686091  D3-A2JG-06

[686092 rows x 1 columns]

In [91]:
extract.columns = ['patient'] # Name extracted substring

In [92]:
somatic_short = somatic_short.join(extract) # Add extracted substrings to a data frame as new columns

In [93]:
# Extract patient ID from sample_id (i.e., the first three fields separated by -).
somatic_short

,symbol,gene_id,chr,start,end,strand,var_class,ref,alt,sample_id,prot.pos,aa,prot_pos,prot_len,top_letter,bottom_letter,patient
0,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673,S,L,ER-A19O-06
1,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673,S,L,ER-A19O-06
2,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673,S,L,ER-A19O-06
3,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-ER-A19O-06A-11D-A197-08,287/1673,S/L,287,1673,S,L,ER-A19O-06
4,CAMTA1,23261,chr1,7663407,7663407,+,Missense_Mutation,C,T,TCGA-EE-A29E-06A-11D-A197-08,287/1673,S/L,287,1673,S,L,EE-A29E-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686087,AIFM3,150209,chr22,20977036,20977036,+,Missense_Mutation,A,T,TCGA-D3-A2JG-06A-11D-A196-08,408/605,K/M,408,605,K,M,D3-A2JG-06
686088,FAM47B,170062,chrX,34944490,34944490,+,Silent,C,T,TCGA-D3-A2JG-06A-11D-A196-08,553/645,F,553,645,NaN,NaN,D3-A2JG-06
686089,TMEM164,84187,chrX,110004079,110004079,+,Missense_Mutation,C,A,TCGA-D3-A2JG-06A-11D-A196-08,102/297,T/N,102,297,T,N,D3-A2JG-06
686090,IRAK1,3654,chrX,154019308,154019308,+,Missense_Mutation,G,A,TCGA-D3-A2JG-06A-11D-A196-08,109/712,P/S,109,712,P,S,D3-A2JG-06
686091,NLGN4Y,22829,chrY,14840615,14840615,+,Missense_Mutation,G,A,TCGA-D3-A2JG-06A-11D-A196-08,602/816,E/K,602,816,E,K,D3-A2JG-06

In [96]:
# Merge clinical_short and somatic_short on patient ID (inner join). Name the new data frame as “clinical_somatic”.
clinical_somatic = clinical_short.join(somatic_short.set_index('patient'), on='patient', how='outer') #

In [97]:
clinical_somatic

,patient,year_of_birth,gender,race,definition,tumor_stage,age_at_diagnosis,vital_status,months_to_death,months_to_last_follow_up,...,var_class,ref,alt,sample_id,prot.pos,aa,prot_pos,prot_len,top_letter,bottom_letter
0.0,TCGA-EE-A2MG,1974.0,male,white,Metastatic,stage i,23.0,dead,104.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,TCGA-EE-A2MG,1974.0,male,white,Metastatic,stage i,23.0,dead,104.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,TCGA-EE-A2MG,1974.0,male,white,Metastatic,stage i,23.0,dead,104.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,TCGA-EE-A2MG,1974.0,male,white,Metastatic,stage i,23.0,dead,104.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,TCGA-EE-A2MG,1974.0,male,white,Metastatic,stage i,23.0,dead,104.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,D3-A2JB-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Missense_Mutation,G,T,TCGA-D3-A2JB-06A-11D-A196-08,304/449,D/Y,304,449,D,Y
NaN,D3-A2JB-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Missense_Mutation,G,T,TCGA-D3-A2JB-06A-11D-A196-08,304/449,D/Y,304,449,D,Y
NaN,D3-A2JB-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Missense_Mutation,G,T,TCGA-D3-A2JB-06A-11D-A196-08,304/449,D/Y,304,449,D,Y
NaN,D3-A2JB-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Missense_Mutation,G,C,TCGA-D3-A2JB-06A-11D-A196-08,2595/2725,R/G,2595,2725,R,G
NaN,D3-A2JB-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Missense_Mutation,G,A,TCGA-D3-A2JB-06A-11D-A196-08,967/1257,S/F,967,1257,S,F

In [98]:
#Number of rows 907933 
#Number of columns 27 
import pickle;

In [99]:
# Save the clinical_somatic data frame in binary format.
clinical_somatic.to_pickle("./clinical_somatic.pkl")

In [100]:
list = os.listdir('./');
list

['ACC.clinical.txt',
 'somatic_short.maf.gz',
 '.DS_Store',
 'LAML.clinical.txt',
 'clinical.short.txt',
 'BRCA.somatic.maf.gz',
 'gene_expected.txt',
 'ACC.somatic.maf.gz',
 'BRCA.clinical.txt',
 'LAML.somatic.maf',
 'clinical_somatic.pkl',
 'LAML.somatic.maf.gz',
 'SKCM.somatic.maf.gz',
 'SKCM.clinical.txt']